streamlit==1.33.0
python-dotenv

langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.35

langchain-google-genai==1.0.10
langchain-chroma==0.1.2
langchain-text-splitters==0.2.2

chromadb==0.5.5

pypdf
beautifulsoup4
requests
pysqlite3-binary
